@font-face {
  font-family: "Brant";
  src: url("/fonts/Brant.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Coves";
  src: url("/fonts/Coves.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}